@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Bogle&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Bogle&family=Outfit:wght@100..900&display=swap');

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background:linear-gradient(to top left, rgb(56, 56, 56), rgb(76, 75, 75), rgb(96, 95, 95), rgb(126, 125, 125));
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 350px;
  padding: 20px;
  height: 600px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 5px 5px 10px;
}

.input-container {
  width: 100%;
  display: flex;
  align-items: center;
  border: 2px solid rgb(94, 92, 92);
  border-radius: 10px;
  overflow: hidden;
}

.cityInput {
flex: 1;
height: 30px;
border: none;
font-size: 16px;
outline: none;
padding: 10px;
}

.search-icon {
  padding: 5px;
  cursor: pointer;
}

.image {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
  height: 150px;
}

.image img {
  height: 160px;
  width: 160px;
}

.temp,
.location,
.country {
  margin-top: 5x;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
}
.temp {
  font-weight: 500;
}
.location {
  color: orange;
  font-weight: 400;
  font-size: 40px;
}
.country {
  font-size: 18px;
  color: slategray;
  font-weight: bold;
}

.cord {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  text-align: center;
}

.cord div {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 10px;
}

.cord div span {
  font-size: 16px; 
}

.humidity-percentage,
.wind-percentage,
.cord div span:nth-child(2) {
  font-size: 18px;
  font-weight: bold;
  color: #666;
  padding-top: 5px;
}

.data-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.element {
  text-align: center;
}

.icon{
  height: 50px;
  width: 50px;
}

.text{
  font-size: 12px;
  color: #888;
}

.copyright {
  text-align: center;
  font-size: 12px;
  color: #ada9a9;
  margin-top: 20px;
}

.city-not-found,
.loading-message,
.error-message {
  margin-top: 10px;
  color: #888;
  font-size: 25px;
  font-weight: 400;
  text-align: center;
}

.city-not-found img {
  margin-top: 20px;
  width: 300px;
  margin-bottom: -40px;
}

.city-not-found p {
  margin-bottom: 100px;
}

.error-message img{
  margin-top: 60px;
  width: 200px;
  margin-bottom: 30px;
}

.header h1{
  text-align: center;
  font-size: 80px;
  margin-bottom: 10px;
  font-family: "BBH Sans Bogle", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(215, 215, 200);
  text-shadow: 5px 5px 10px black;
  margin-top: 0;
}

article{
  text-align: center;
  margin-top: -18px;
  margin-bottom: 10px;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: rgb(215, 215, 200);
   text-shadow: 3px 3px 5px black;
}
